<div class="main">
  
  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
  
  <div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
      <div class="icon"></div>
      <div class="title main">
        <span id="main-title"></span>
      </div>
      <span class="title version" id="version"></span>
    </div>
  </div>

  <div id="StartButton" x-mojo-element="Button" class="affirmative"></div>
  <div id="StopButton" x-mojo-element="Button" class="negative"></div>
  <div class="palm-body-title">
    <div id="AutoStartCheckBox" x-mojo-element="CheckBox" class="checkboxClass"></div>Auto start on boot
  </div>

  <br>
  <div class="palm-body-text">
  Proxy settings: IP 127.0.0.1 port 3128
  </div>

  <div id="CertificateButton" x-mojo-element="Button"></div>

  <div class="palm-body-text">
  Certificate details will be available in Certificate Manager:<br>
  Device Info &#8594; AppMenu (Preferences) &#8594; Certificate Manager...
  </div>

  <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
  
</div>
